<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="format-detection" content="telephone=no" />
     <meta property="og:image" content="../img/png/logo-header.png" />
     <meta name="description" content="Республиканское унитарное предприятие «Информационно-издательский центр по налогам и сборам»">
     <script src="./js/bootstrap.bundle.min.js"></script>
     <script src="./js/jquery.js"></script>
     <link rel="stylesheet" href="">
     <script src="./js/swiper-bundle.min.js"></script>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Triodion&display=swap"
          rel="stylesheet">

     <link rel="stylesheet" @@style-path />
     <link rel="stylesheet" href="css/style.css" />
     <title>ui</title>
</head>

<body class="ui-page px-2 pt-1">

     <div class="d-flex flex-row align-items-start" id="app">
          <div class="ui-nav border-1 border p-2 d-none d-md-block mt-5 sticky-top z-3 bg-white overflow-auto top-3">
               <nav class="">
                    <ol>  
                         <li v-for="(value, key) in uiElem" :key="key">
                              <a :href="'#' + key" class="mt-2">{{value.slice(1)}}</a>
                         </li>
                    </ol>
               </nav>
          </div>
          <div class="ui-content ms-md-3 ms-0 w-100 pb-5">
               <section v-for="(value, key) in uiElem" :key="key" :id="key" class="">
                    <h1 class="h1 mt-5">{{value.slice(1)}}</h1>
                    <div class="mt-3"></div>
                    <div class="" v-html="htmlData[value]" class=""></div>
               </section>
               <div class="my-5"></div>
          </div>
     </div>
     <script src="./js/vue.js"></script>
     <script type="application/javascript">
          const vueApp = new Vue({
               el: '#app',
               components: {
               },
               data() {
                    return {
                         uiElem: [
                              '_breadcrumb',
                              '_sidenav-tabs',
                              // '_header',
                              '_buttons',
                              '_checkboxes',
                              '_modals',
                              '_notifications-card',
                              '_notifications-radio-btn',
                              '_order-card',
                              '_journal-card',
                              '_journal-inner',
                              '_school-card',
                              '_inputs',
                              '_pagination',
                              '_attention',
                              '_news-reg-card',
                              '_accordion',
                              '_radio',
                              // '_links',
                              // '_bread-crumbs',
                              // '_inputs',
                              // '_heading',
                              // '_pagination',
                              // '_questions',
                              // '_cookie'
                         ],
                         htmlData: {}
                    }
               },
               watch: {},
               methods: {
                    async loadHtml(key) {
                         try {
                              const location = window.location
                              const response = location.host == "infocenterby.github.io" ? await fetch(`https://raw.githubusercontent.com/InfoCenterBy/newInfoCenter/gh-pages/html-comp/${key}.html`) : await fetch(`html-comp/${key}.html`);

                              if (!response.ok) {
                                   throw new Error('Failed to load HTML file');
                              }

                              const htmlContent = await response.text();
                              this.$set(this.htmlData, key, htmlContent);
                         } catch (error) {
                              console.error(error);
                         }
                    },
                    async loadHtmlFiles() {
                         await Promise.all(this.uiElem.map(key => this.loadHtml(key)));
                    }
               },
               computed: {},
               mounted() {
                    this.loadHtmlFiles();
                    document.querySelectorAll('.close-alert').forEach((element) => {
                         element.addEventListener('click', () => {
                              var alertNode = document.querySelector('#alertCookie');
                              alertNode.classList.remove('show')
                         });
                    });
               },
          })
     </script>
     <script src="js/script.min.js"></script>
</body>

</html>