@layer base, vendor, component, variations;
//! imports
@import url('./bootstrap.min.css') layer(vendor);
@import url('./swiper-bundle.min.css') layer(vendor);
@import url('./font-exo-2.css');
@import url('./font-roboto.css');
@import url('./bootstrap-icons.css');
@import './veriables/variables';
@import './functional/_mixins.scss';
@import './veriables/veriables-mix';
@import './layers.scss';
@import './ui.scss';
@import './elements/buttons.scss';
@import './elements/links.scss';
@import './elements/floating-label-input.scss';
@import './elements/header-logo.scss';
@import './elements/header-nav.scss';
@import './ui-comp/mobile-menu.scss';
@import './elements/footer-logo.scss';
@import './ui-comp/slider-banner.scss';
@import './ui-comp/slider-nav.scss';
@import './ui-comp/slider-partner.scss';
@import './elements/breadcrumb.scss';
@import './elements/profile-side-nav.scss';
@import './elements/checkbox.scss';
@import './elements/modals.scss';
@import './pages/notifications-page.scss';
@import './elements/order-card.scss';
@import './elements/journal-card.scss';
@import './elements/journal-inner.scss';
@import './elements/school-card.scss';
@import './elements/inputs.scss';
@import './elements/pagination.scss';
@import './elements/attention.scss';
@import './elements/news-reg-card.scss';
@import './elements/accordion.scss';
@import './elements/file-link.scss';
@import './elements/radio.scss';
@import './elements/map-cards.scss';
@import './elements/step-card.scss';
@import './elements/payment-method-card.scss';
//! end imports

html {
     height: auto;
     scroll-behavior: smooth;
     width: 100%;
     scrollbar-gutter: stable;
     overflow: auto;
}
html,
body {
     min-width: $minWidth;
     width: 100%;
}
body {
     font-size: $fontSize;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     background-color: var(--color-white);
     // overflow-y: scroll;
     color: var(--color-black);
}
main {
     flex-grow: 1;
     width: 100%;
     min-width: $minWidth;
     display: flex;
     flex-direction: column;
     // scrollbar-gutter: stable;
}

@layer base {
     main.main-container .container:not(:first-of-type) {
          margin-top: 6.25rem;
          @media #{$ui-tablet} {
               margin-top: 3.5rem;
          }
     }

     main .container:first-of-type:not(:has(.breadcrumb)) {
          margin-top: 2rem;
     }

     main.main-container:has(.breadcrumb) .container:nth-of-type(2) {
          margin-top: 0;
     }
}

:root {
     font-size: 16px;
}

.main-section {
     padding: 3rem 3.5rem;
     @media #{$ui-tablet} {
          padding: 2rem 2rem;
     }
     @media #{$ui-mobile} {
          padding: 1.5rem 1.5rem;
     }
}

//! *container*
@layer variations {
     @media (min-width: 576px) {
          .container,
          .container-sm {
               max-width: 740px;
          }
     }

     @media (min-width: 768px) {
          .container,
          .container-md,
          .container-sm {
               max-width: 1020px;
          }
     }

     @media (min-width: 992px) {
          .container,
          .container-lg,
          .container-md,
          .container-sm {
               max-width: 1160px;
          }
     }

     @media (min-width: 1200px) {
          .container,
          .container-lg,
          .container-md,
          .container-sm,
          .container-xl {
               max-width: 1200px;
          }
     }

     @media (min-width: 1400px) {
          .container,
          .container-lg,
          .container-md,
          .container-sm,
          .container-xl,
          .container-xxl {
               max-width: 1440px;
          }
     }
}
//! *------*

ol ul {
     list-style: disc;
}
