$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1440;
// $maxWidthContainerPersonal: 1830;
// *Colors*
$colorsMap: (
  "black": "#030303",
  "white": "#FBFBFB",
  "gray-txt": "#66605B",
  "gray-inputs": "#B9B9B9",
  "gray-stroke": "#DADADA",
  "gray-bg-illustr": "#F0F0F0",
  "violet": "#5E60CE",
  "yellow": "#F6C679",
  "yellow-light": "#F6D39B",
  "violet-light": "#D6D6FF",
  "green": "#92EDC1",
  "green-light": "#DFF5F0",
  "dark-violet": "#2A2B87",
  "violet-hover": "#8C8EEA",
  "red-error": "#E31B1B",
  "transparent": "transparent",
  "red-attention": "#D03D3D",
  "red-hover": "#F86565",
  "red-pressed": "#BC2929",
  "green-success": "#48B16E",
  "gold-light": "#F6C679",
  "red-light": "#F5DDDD",
  "yellow-system": "#FFF3E0",
  "info-light": "#D8E9FF",
  "info": "#3B9BF4",
);

:root {
  @each $name, $color in $colorsMap {
    --color-#{$name}: #{$color};
  }
  --base-font: 16px;
}
// *------*

//? *Sizing*
@layer component {
  .px-12 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .mt-12 {
    margin-top: 12px;
  }

  .mt-10 {
    margin-top: 0.625rem;
  }

  .mt-20 {
    margin-top: 1.25rem;
  }

  .mt-24 {
    margin-top: 1.5rem;
  }

  .mt-40 {
    margin-top: 2.5rem;
  }

  .mt-32 {
    margin-top: 2rem;
  }

  .mt-92 {
    margin-top: 5.75rem;
  }

  .gap-12 {
    gap: 0.75rem;
  }

  .gap-20 {
    gap: 1.25rem;
  }

  .mt-100 {
    margin-top: clamp(5rem, 4.545rem + 2.27vw, 6.25rem);
  }

  .p-40 {
     padding: 40px;
  }
}
//?

// *! Fonts*
$ff-exo: "Exo 2";
@layer variations {
  .ff-exo {
    font-family: $ff-exo;
  }
}
$ff-roboto: "Roboto";
@layer variations {
  .ff-roboto {
    font-family: $ff-roboto;
  }
}
$fontSize: 16px;
$fontSizeMap: (10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 64);
@layer variations {
  .ls-0 {
    letter-spacing: 0;
  }
}
// *!------*

// *? Border*
$borderMap: ("10", "15", "20", "25", "30", "100");
// *?------*

// *! Transition *
$transitionMap: (
  "2": ".2",
  "3": ".3",
);
$transition-2: all ease-out 0.2s;
$transition-3: all ease-out 0.3s;
// *!------*

//* Break-points*
$breakPointsMap: (
  "xs": 576,
  "sm": 576,
  "md": 768,
  "lg": 992,
  "xl": 1200,
  "xxl": 1400,
);
// *------*

// *? Media rules*
$mouse-device: "(hover: hover) and (pointer: fine)";
$touch-device: "(hover: none)";
$ui-mobile: "screen and (max-width: 768px)"; //md
$ui-tablet: "screen and (max-width: 992px)"; //lg
$ui-laptop: "screen and (max-width: 1200px)"; //xl
$ui-bs-sm: "screen and (min-width: 576px)"; //sm
$ui-bs-md: "screen and (min-width: 768px)"; //md
$ui-bs-lg: "screen and (min-width: 992px)"; //lg
$ui-bs-xl: "screen and (min-width: 1200px)"; //xl
$ui-bs-xxl: "screen and (min-width: 1400px)"; //xxl

// *! z-indexs*
$layer-back: -1;
$layer-base: 2;
$layer-ui: 3; //header, footer, menu
$layer-modal: 4;
.z-3 {
  z-index: 3;
}
// *!------*

// ? bootstrap icon class
.bootsrtap-icon {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover-no {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

@media (min-width: 992px) {
  .w-lg-auto {
    width: auto;
  }
}

@layer component {
  .overflow-x-hidden {
    overflow-x: hidden;
  }
}

.w-fit {
  width: fit-content;
}

.border-top-left-20 {
  border-top-left-radius: 20px;
}

.border-top-right-20 {
  border-top-right-radius: 20px;
}

.bg-lg-transparent {
  @media #{$ui-tablet} {
    background-color: var(--color-transparent);
  }
}

.border-lg-0 {
  @media #{$ui-tablet} {
    border-radius: 0;
  }
}

.text-xl-nowrap {
  @media #{$ui-tablet} {
    white-space: nowrap !important;
  }
}

.ws-xl-nowrap {
  @media #{$ui-bs-xl} {
    white-space: nowrap;
  }
}

.ws-xxl-nowrap {
  @media #{$ui-bs-xxl} {
    white-space: nowrap;
  }
}

.top-3 {
  top: 1rem;
}
