
.slider-partner {
     .swiper-slide{
          display: flex;
          height: auto;
     }
	&__element {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: .5rem;
          align-items: center;
          justify-content: center;
          padding: .25rem .75rem;
          background-color: var(--color-white);
          border: 1px solid var(--color-gray-stroke);
          border-radius: 15px;
          filter: grayscale(1);
          color: var(--color-gray-txt);
          @include transition($transition-3);
          img{
               max-width: 6.25rem;
               width: 100%;
               object-fit: contain;
               transform: scale(60%);
          }
          p{
               margin-bottom: 0;
               font-family: $ff-roboto;
               font-size: .75rem;
               font-weight: 400;
               line-height: 120%;
               letter-spacing: 0;
          }
          @media #{$mouse-device} {
               &:hover{
                    color: var(--color-black);
                    filter: grayscale(0);
               }
          }
          @media #{$touch-device} {
               &:active{
                    color: var(--color-black);
                    filter: grayscale(0);
               }
          }
	}
}
